body {
  margin: 0%;
  padding: 0%;
  background-color: plum;
  font-family: 'Poppins', sans-serif;
}
.container{width: 900px;
max-width: 90vw;
margin: auto;
text-align: center;
padding-top: 10px;
}
svg{ width: 30px;}
header{display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 0;
}
header .icon-cart{position: relative;}
header .icon-cart span{
  display: block;
  width: 30px;
  height: 30px;
  background-color: red;
justify-content: center;
align-items: center;
color: #fff;
border-radius: 50%;
position: absolute;
top: 50%;
right: -20px;
}
.listproduct .item{
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}
.listproduct{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
gap: 20px;
}
.listproduct .item{
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
}
.listproduct .item h2{
  font-weight: 500;
  font-size: large;
}
.listproduct .item .price{
  letter-spacing: 7px;
  font-size: small;
}
.listproduct .item button{
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}